* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serf;
  font-size: 80px;
  font-weight: bold;
  padding-bottom: 40px;
  margin-top: 80px;
}

h2 .tech {
  color: white;
  text-align: center;
  font-size: 40px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.heading {
  display: table-row;
  text-align: center;
  font-weight: bold;
}

.row {
  display: table-row;
}

p {
  color: white;
}

/* .news img {
  position: absolute;
  top: 50%;
  left: 50%;
} */


.img-container {
  width: 90%;
  margin: 0 auto;
}

.newsImages {
  height: 155%;
  width: 105%;
  margin: 15px 15px;
}

th, td {
  color: white;
  text-align: center;
  font-size: 19px;
}

