<div class="color">
   <div class="row secondary dark main">   
        <div class="col-md-12">
          <div class="container">
            <div class="col-md-6">  
              <h1 id="homeStudents">Connect with other Redwood Students. Share your Ideas in the Forum page.</h1>
            </div>
          </div>
        </div>
    </div>
    
    <div class="row">
          <div class="col-md-6">
            <div class="block">
              <div class="second scroll"></div>
              <div class="overlay absolute gradient-grey-left"></div>
            </div>
          </div>

          <div class="col-md-6 second-column">
            <h1>AngularJS is a structural framework for dynamic web apps. Learn and Create Now.</h1>
          </div>
    </div>
   

    <div class="row">
      <div class="col-md-6 second-column ">
        <h1>JavaScript is an object-oriented computer programming language commonly used to create interactive effects within web browsers.</h1>
      </div>
      <div class="col-md-6">
        <div class="block">
          <div class="third scroll"></div>
          <div class="overlay absolute gradient-grey-right"></div>
        </div>
      </div>
    </div>

    <div class="row">
          <div class="col-md-6">
            <div class="block">
              <div class="fourth scroll"></div>
              <div class="overlay absolute gradient-grey-left"></div>
            </div>
          </div>
          <div class="col-md-6 second-column">
            <h1>Hypertext Markup Language, a standardized system for tagging text files to achieve font, color, graphic, and hyperlink effects on World Wide Web pages.</h1>
          </div>
    </div>

    <div class="row">
          <div class="col-md-6 second-column ">
            <h1>CSS allows one to adapt the presentation to different types of devices, such as large screens, small screens, or printers.</h1>
          </div>
          <div class="col-md-6">
            <div class="block">
              <div class="fifth scroll"></div>
              <div class="overlay absolute gradient-grey-right"></div>
            </div>
          </div>
    </div>

    
    <div class="container">
      <div class="row">
        <div class="col-md-3 img-container">
          <a href="https://angularjs.org/" target="blank">
            <img src="images/AngularJS.svg" class="rounded">
          </a>
        </div>

        <div class="col-md-3 img-container">
          <a href="https://www.javascript.com/" target="blank">
            <img src="images/javascript.png" class="rounded">
          </a>
        </div>

        <div class="col-md-3 img-container">
          <a href="http://html.com/" target="blank">
            <img src="images/HTML.svg" class="rounded">
          </a>
        </div>

        <div class="col-md-3 img-container">
          <a href="http://css-tricks.com/" target="blank">
            <img id="css" src="images/CSS.svg" class="rounded">
          </a>
        </div>

      </div>
    </div>
</div>